* {
  box-sizing: border-box;
}

a {
  color: lightskyblue;
}

a:hover {
  color: rgb(3, 123, 170);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 0 5px 0;
  background-color: #0a1629;
}

button {
  outline: none;
  background-color: lightskyblue;
  color: black;
}

button:hover {
  background-color: rgb(3, 123, 170);
}

body {
  font-family: 'Open Sans', regular;
  font-size: 14px;
  background-color: #17212f;
  color: whitesmoke;
  text-align: center;
  margin: 30px 0 0 0;
/*  min-width: 350px;*/
}

main {
  padding: 22px 0 0 0;
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

header {
  margin: 0 0 5px 0;
  outline: none;
}

section {
  outline: none;
}

textarea {
  width: 100%;
}

#div-login {
  outline: 1px solid grey;
}

#div-logout {
  outline: 1px solid grey;
}


/* ------------- ForumView */


#s-forum-view {
  width: 70vw;
}

#div-new-thread-button {
  outline: none;
  margin: 0 0 10px 0;
}

#button-new-thread-button {
  outline: none;
  margin: 0 0 5px 0;
}


/* ------------- ThreadCard */


.div-thread-card {
  outline: 1px solid grey;
  display: flex;
  flex-wrap: nowrap;
  width: 70vw;
  margin: 10px 0 0 0;
}

.div-forum-thread-id-name {
  outline: none;
  width: 65%;
}

.div-forum-thread-author {
  outline: none;
  width: 35%;
}


/* ------------- ThreadView */


#div-post-reply-buttons {
  outline: none;
  margin: 5px 0 0 0;
  display: flex;
  justify-content: space-evenly;
}


/* renderOP */


.s-thread {
  outline: none;
  margin: 0 0 15px 0;
  width: 80vw;
  display: flex;
}

#div-thread {
  outline: none;
  width: 100%;
}

#div-thread-id-author-name {
  outline: 1px solid grey;
}

#div-thread-op {
  outline: 1px solid grey;
}

#div-edit-op-buttons {
  outline: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 12%;
  font-size: 8px;
  max-width: 40px;
}

#button-edit-thread {
  outline: none;
  width: 100%;
  font-size: 10px;
}

#button-delete-thread {
  outline: none;
  width: 100%;
  font-size: 10px;
}

#button-delete-thread:hover {
  background-color: darkred;
  color: white;
}


/* renderReplies */


.s-replies {
  width: 80vw;
}

.div-reply-card {
  margin: 0px 0 10px 0;
  display: flex;
  justify-content: space-evenly;
}


/* ------------- ReplyCard */


#div-reply-card-author {
  outline: 1px solid grey;
  text-align: center;
  align-self: center;
  width: 20%;
}

#div-reply-card-second-half {
  display: flex;
  width: 80%;
}

#div-reply-card-content {
  outline: 1px solid grey;
  width: 100%;
  align-self: center;
}

#div-reply-edit-delete-buttons {
  outline: 1px solid grey;
  align-self: center;
  width: 15%;
  font-size: 8px;
  max-width: 40px;
}

.button-edit-button {
  outline: none;
  width: 100%;
  font-size: 10px;
}

.button-delete-button {
  outline: none;
  width: 100%;
  font-size: 10px;
}

.button-delete-button:hover {
  background-color: darkred;
  color: white;
}


/* ------------- LoginForm */


#s-login-form {
  outline: none;
}

#form-login-form {
  outline: none;
}

#div-login-form-container {
  outline: none;
}

#div-login-username {
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px 0;
}

#div-login-password {
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px 0;
}

#div-login-buttons {
  outline: none;
  display: flex;
  justify-content: space-evenly;
}


/* ------------- RegistrationForm */


#s-registration-form {
  outline: none;
}

#form-registration-form {
  outline: none;
}

#div-registration-username {
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px 0;
}

#div-registration-realname {
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px 0;
}

#div-registration-password {
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px 0;
}

#div-registration-match-password {
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px 0;
}

#div-registration-buttons {
  outline: none;
  display: flex;
  justify-content: space-evenly;
}


/* ------------- Post Thread */


#s-post-thread-form {
  outline: none;
  width: 70vw;
}

#div-post-thread-form-container {
  outline: none;
}

#form-post-thread-form {
  outline: none;
}

#div-post-thread-name {
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 5px 0;
}

#div-post-thread-body {
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#div-post-thread-buttons {
  outline: none;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 0 0;
}


/* ------------- Post Reply */


#s-post-reply-form {
  outline: none;
  width: 70vw;
}

#div-post-reply-form-container {
  outline: none;
}

#form-post-reply-form {
  outline: none;
}

#div-post-reply-thread-name {
  outline: none;
  margin: 0 0 3px 0;
}

#div-post-reply-body {
  outline: none;
}

#div-post-reply-buttons {
  outline: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 10px 0 0 0;
}


/* ------------- Edit Thread */


#s-edit-thread-form {
  outline: none;
  width: 70vw;
}

#div-edit-thread-form-container {
  outline: none;
}

#form-edit-thread-form {
  outline: none;
}

#div-edit-thread-name {
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px 0;
}

#div-edit-thread-body {
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px 0;
}

#div-edit-thread-buttons {
  outline: none;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 0 0;
}


/* ------------- Edit Reply */


#s-edit-reply-form {
  outline: none;
  width: 70vw;
}

#div-edit-reply-form-container {
  outline: none;
}

#form-edit-reply-form {
  outline: none;
}

#div-edit-reply-thread-name {
  outline: none;
}

#div-edit-reply-body {
  outline: none;
}

#div-edit-reply-buttons {
  outline: none;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 0 0;
}